USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 5/21/2024 5:08:29 PM ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel_log.ldf', SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[BedTypes]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedTypes](
	[BedTypeID] [int] NOT NULL,
	[BedType] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[BedCost] [money] NULL,
 CONSTRAINT [PK__BedTypes__E41F1CAE9EDCFF8D] PRIMARY KEY CLUSTERED 
(
	[BedTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [nvarchar](50) NOT NULL,
	[ArrvialDate] [datetime] NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[RoomNumber] [float] NOT NULL,
	[CustomerID] [nvarchar](50) NULL,
	[ReservationStatus] [nvarchar](50) NULL,
	[ReservationStatusDate] [datetime] NULL,
	[EmployeeID] [nvarchar](50) NOT NULL,
	[GuestCount] [float] NULL,
 CONSTRAINT [PK_Bookings_1] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [float] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[HireDate] [date] NOT NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [nvarchar](50) NOT NULL,
	[BookingId] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[FirstDateOccupied] [datetime] NULL,
	[LastDateOccupied] [datetime] NULL,
	[TaxRate] [float] NULL,
	[Duration] [float] NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomNumber] [float] NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[BedTypeID] [int] NOT NULL,
	[Rate] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK__Rooms__AE10E07B88BC005E] PRIMARY KEY CLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 5/21/2024 5:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] NOT NULL,
	[RoomType] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[TypeCost] [money] NULL,
 CONSTRAINT [PK__RoomType__BCC89611117E3165] PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BedTypes] ([BedTypeID], [BedType], [Notes], [BedCost]) VALUES (1, N'Bunk bed', NULL, 60.9100)
INSERT [dbo].[BedTypes] ([BedTypeID], [BedType], [Notes], [BedCost]) VALUES (2, N'Daybed', NULL, 78.8700)
INSERT [dbo].[BedTypes] ([BedTypeID], [BedType], [Notes], [BedCost]) VALUES (3, N'Double bed', NULL, 98.0500)
GO
INSERT [dbo].[Bookings] ([BookingID], [ArrvialDate], [DepartureDate], [RoomNumber], [CustomerID], [ReservationStatus], [ReservationStatusDate], [EmployeeID], [GuestCount]) VALUES (N'2AEM10752', CAST(N'2015-07-04T00:00:00.000' AS DateTime), CAST(N'2015-07-09T00:00:00.000' AS DateTime), 275, N'AD68400', N'Check-Out', CAST(N'2015-07-05T00:00:00.000' AS DateTime), N'EMP46', 1)
INSERT [dbo].[Bookings] ([BookingID], [ArrvialDate], [DepartureDate], [RoomNumber], [CustomerID], [ReservationStatus], [ReservationStatusDate], [EmployeeID], [GuestCount]) VALUES (N'2AEM12160', CAST(N'2015-07-08T00:00:00.000' AS DateTime), CAST(N'2015-07-10T00:00:00.000' AS DateTime), 295, N'AJ19800', N'Check-Out', CAST(N'2015-07-06T00:00:00.000' AS DateTime), N'EMP11', 3)
INSERT [dbo].[Bookings] ([BookingID], [ArrvialDate], [DepartureDate], [RoomNumber], [CustomerID], [ReservationStatus], [ReservationStatusDate], [EmployeeID], [GuestCount]) VALUES (N'2AEM12497', CAST(N'2015-07-13T00:00:00.000' AS DateTime), CAST(N'2015-07-16T00:00:00.000' AS DateTime), 257, N'AR40242', N'Check-Out', CAST(N'2015-07-03T00:00:00.000' AS DateTime), N'EMP49', 3)
GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [BirthDate], [Email], [Phone]) VALUES (N'AB30861', N'Aluinwec', N'Braisheroa', CAST(N'1988-01-15T00:00:00.000' AS DateTime), N'ngon_huynh@colpal.com', 3783522281)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [BirthDate], [Email], [Phone]) VALUES (N'AB34471', N'Artemislifwec', N'Byshlevoa', CAST(N'1988-12-05T00:00:00.000' AS DateTime), N'vn.recruitment@aquavietnam.vn', 2557588169)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [BirthDate], [Email], [Phone]) VALUES (N'AB41486', N'Aluin', N'Braisher', CAST(N'1985-04-20T00:00:00.000' AS DateTime), N'abraisher25@apple.com', 3784979079)
GO
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeName], [Title], [City], [Country], [HireDate]) VALUES (N'EMP1', N'Nancy Davolio', N'Guest Relations ITecialist', N'New York', N'USA', CAST(N'2015-01-07' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeName], [Title], [City], [Country], [HireDate]) VALUES (N'EMP10', N'Chris Jordan', N'Hotel Front Desk Clerk', N'New York', N'USA', CAST(N'2015-12-11' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeName], [Title], [City], [Country], [HireDate]) VALUES (N'EMP11', N'Kim Lee', N'Hotel Housekeeping Manager', N'London', N'UK', CAST(N'2015-12-12' AS Date))
GO
INSERT [dbo].[Payments] ([PaymentID], [BookingId], [PaymentDate], [FirstDateOccupied], [LastDateOccupied], [TaxRate], [Duration], [Discount]) VALUES (N'PAYRDY9V', N'2MEM33803', CAST(N'2015-08-31T00:00:00.000' AS DateTime), CAST(N'2015-08-29T00:00:00.000' AS DateTime), CAST(N'2015-08-31T00:00:00.000' AS DateTime), 0.08, 2, 0.49795)
INSERT [dbo].[Payments] ([PaymentID], [BookingId], [PaymentDate], [FirstDateOccupied], [LastDateOccupied], [TaxRate], [Duration], [Discount]) VALUES (N'PAYRL3D8', N'2KEM57137', CAST(N'2015-08-23T00:00:00.000' AS DateTime), CAST(N'2015-08-21T00:00:00.000' AS DateTime), CAST(N'2015-08-23T00:00:00.000' AS DateTime), 0.08, 2, 0.2949)
INSERT [dbo].[Payments] ([PaymentID], [BookingId], [PaymentDate], [FirstDateOccupied], [LastDateOccupied], [TaxRate], [Duration], [Discount]) VALUES (N'PAYRTVQ7', N'2LEM44487', CAST(N'2015-08-25T00:00:00.000' AS DateTime), CAST(N'2015-08-24T00:00:00.000' AS DateTime), CAST(N'2015-08-25T00:00:00.000' AS DateTime), 0.08, 1, 0.23505)
GO
INSERT [dbo].[Rooms] ([RoomNumber], [RoomTypeID], [BedTypeID], [Rate], [Notes]) VALUES (201, 7, 9, N'50', N'NULL')
INSERT [dbo].[Rooms] ([RoomNumber], [RoomTypeID], [BedTypeID], [Rate], [Notes]) VALUES (202, 7, 3, N'60', N'NULL')
INSERT [dbo].[Rooms] ([RoomNumber], [RoomTypeID], [BedTypeID], [Rate], [Notes]) VALUES (203, 7, 11, N'60', N'NULL')
GO
INSERT [dbo].[RoomTypes] ([RoomTypeID], [RoomType], [Notes], [TypeCost]) VALUES (1, N'Apartment', NULL, 120.0000)
INSERT [dbo].[RoomTypes] ([RoomTypeID], [RoomType], [Notes], [TypeCost]) VALUES (2, N'Bungalow', NULL, 150.0000)
INSERT [dbo].[RoomTypes] ([RoomTypeID], [RoomType], [Notes], [TypeCost]) VALUES (3, N'Chalet', NULL, 200.0000)
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Employees]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomNumber])
REFERENCES [dbo].[Rooms] ([RoomNumber])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_BedTypes] FOREIGN KEY([BedTypeID])
REFERENCES [dbo].[BedTypes] ([BedTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_BedTypes]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomTypes] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomTypes]
GO
USE [master]
GO
